<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.smartgradever2.professor.professorgrade.ProfessorGradeMapper">

    <update id="upMngnm">
        <![CDATA[

        UPDATE lecture_student A
        INNER JOIN lecture_apply B
        ON A.ilecture = B.ilecture
        SET A.finished_yn = 1,
        A.attendance =
        CASE WHEN #{attendance} > B.attendance THEN B.attendance ELSE #{attendance} END,
        A.midterm_examination =
        CASE WHEN #{midtermExamination} > B.midterm_examination THEN B.midterm_examination ELSE #{midtermExamination} END,
        A.final_examination =
        CASE WHEN #{finalExamination} > B.final_examination THEN B.final_examination ELSE #{finalExamination} END,
        A.total_score =
        CASE
        WHEN #{attendance} > B.attendance THEN B.attendance ELSE #{attendance}
        END +
        CASE
        WHEN #{midtermExamination} > B.midterm_examination THEN B.midterm_examination ELSE #{midtermExamination}
        END +
        CASE
        WHEN #{finalExamination} > B.final_examination THEN B.final_examination ELSE #{finalExamination}
        END,

        A.update_at = NOW()
        WHERE A.ilecture_student = #{ilectureStudent} AND B.iprofessor = #{ipofessor} And B.ilecture = #{ilecture}
        ]]>
    </update>



    <select id="getMaxAttendance">
        SELECT MAX(attendance) AS maxAttendance
        FROM lecture_apply
        WHERE ilecture = #{ilecture};
    </select>

    <select id="getMaxMidtermExamination">
        SELECT midterm_examination AS maxMidtermExamination
        FROM lecture_apply
        WHERE ilecture = #{ilecture};
    </select>

    <select id="getMaxFinalExamination">
        SELECT MAX(final_examination) AS maxFinalExamination
        FROM lecture_apply
        WHERE ilecture = #{ilecture};
    </select>


    <select id="selStudentScore">
        SELECT B.ilecture_student ilectureStudent
        ,A.ilecture,C.student_num studentNum,D.major_name majorName
        ,C.gender,C.grade,C.phone,F.`year`,C.nm
        FROM (
        SELECT A.*
        FROM lecture_apply A
        LEFT JOIN lecture_student B
        ON A.ilecture = B.ilecture
        WHERE A.iprofessor = #{iprofessor} AND A.ilecture = #{ilecture}
        GROUP BY A.ilecture) A
        INNER JOIN lecture_student B
        ON A.ilecture=B.ilecture
        INNER JOIN student C
        ON C.student_num= B.student_num
        INNER JOIN major D
        ON C.imajor = D.imajor
        INNER JOIN semester F
        ON A.isemester = F.isemester
        <where>
            <if test="studentNum != 0">
                AND A.student_num = #{studentNum}
            </if>
            <if test="year != 0">
                AND F.`year` = #{year}
            </if>

        </where>
        LIMIT #{staIdx}, 10
    </select>

    <select id="selStudentScoreCount">
        SELECT COUNT(*)
        FROM lecture_student A
        INNER JOIN student B
        ON A.student_num = B.student_num
        INNER JOIN major C
        ON B.imajor = C.imajor
        INNER JOIN lecture_apply D
        ON A.ilecture = D.ilecture;
    </select>





</mapper>