<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.smartGrade.security.config.security.UserDetailsMapper">

    <select id="getByUid">

        <if test='role.equalsIgnoreCase("ROLE_ADMIN")'>
            SELECT iadmin iuser, admin_Id uid, admin_password upw, role,secret_key secretKey
            FROM admin
            WHERE admin_Id = #{uid} AND role = "ROLE_ADMIN"
        </if>

        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            SELECT iprofessor iuser, iprofessor uid, professor_password upw, role,secret_key secretKey
            FROM professor
            WHERE iprofessor = #{uid}
        </if>

        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            SELECT istudent iuser, istudent uid, student_password upw, role,secret_key secretKey
            FROM student
            WHERE student_num = #{uid}
        </if>

    </select>
    <select id="getUserRoleEmail">
        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            select nm,secret_key secretKey,email
            from professor
            where iprofessor = #{uid}
        </if>

        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            SELECT nm,secret_key secretKey,email
            FROM student
            WHERE istudent = #{uid}
        </if>

    </select>
    <update id="updSecretKey">
        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            update  student
            set secret_key=#{secretKey}
            where istudent = #{uid}
        </if>
        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            update  professor
            set secret_key=#{secretKey}
            where iprofessor = #{uid}
        </if>
    </update>

    <!-- ///////////////////////////////////////// user_token /////////-->
    <insert id="updUserToken">
        INSERT INTO user_token
        (role, iuser, ip)
        VALUES
        (#{role}, #{iuser}, #{ip})

        ON DUPLICATE KEY UPDATE
        role = #{role}
        , iuser = #{iuser}
    </insert>
    <select id="getStudentNum">
        select istudent
        from student
        where student_num =#{studentNum}
    </select>
    <select id="selUserToken">
        SELECT iuser, role, ip, access_token accessToken,
        refresh_token refreshToken, created_at createdAt,
        updated_at updatedAt
        FROM user_token
        WHERE iuser = #{iuser} AND role = #{role}
    </select>

    <update id="updForgetPassword">
        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            UPDATE student
            SET student_password = #{upw}
            WHERE  student_num = #{uid}
        </if>
        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            UPDATE  professor
            SET professor_password = #{upw}
            WHERE iprofessor = #{uid}
        </if>
    </update>

    <update id="updForgetPasswordTrue">
        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            UPDATE student
            SET student_password = 'true'
            WHERE  student_num = #{uid}
        </if>
        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            UPDATE  professor
            SET professor_password = 'true'
            WHERE iprofessor = #{uid}
        </if>
    </update>

    <select id="getUserSecret">
        <if test='role.equalsIgnoreCase("ROLE_ADMIN")'>
            SELECT iadmin iuser, admin_Id uid, admin_password upw, role,secret_key secretKey
            FROM admin
            WHERE admin_Id = #{uid} AND role = "ROLE_ADMIN"
        </if>

        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            SELECT iprofessor iuser, iprofessor uid, professor_password upw, role,secret_key secretKey
            FROM professor
            WHERE iprofessor = #{uid}
        </if>

        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            SELECT istudent iuser, student_num uid, student_password upw, role,secret_key secretKey
            FROM student
            WHERE istudent = #{uid}
        </if>
    </select>

    <select id="selTruePassword">
        <if test='role.equalsIgnoreCase("ROLE_STUDENT")'>
            SELECT student_password upw, student_num uid, role
            FROM student
            WHERE student_num = #{uid}
        </if>
        <if test='role.equalsIgnoreCase("ROLE_PROFESSOR")'>
            SELECT professor_password upw, iprofessor uid, role
            FROM professor
            WHERE iprofessor = #{uid}
        </if>
    </select>

</mapper>